version: '3.4'

services:
  tml-classic-db:
    container_name: tml-classic-db
    image: postgres:latest
    ports:
      - ${DB_PORT}:5432
    networks:
      - tml-classic-network 
      - rival-politics-core-database-network  
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    restart: always

  tml-classic-api:
    image: dezare/tml-classic
    container_name: tml-classic-api
    depends_on:
      - tml-classic-db
    build:
      context: .
      dockerfile: KeklandBankSystem/Dockerfile
    environment:
      - API_ConnectionString=${API_ConnectionString}
      - API_Environment=${API_Environment}
      - API_HangFireUrling=${API_HangFireUrling}
      - VkConnect_AppId=${VkConnect_AppId}
      - VkConnect_SecretKey=${VkConnect_SecretKey}
    networks:
      - rival-politics-core-network
      - tml-classic-network
    ports:
      - 5001:5001
    volumes:
      - ./KeklandBankSystem/wwwroot/user_img:/wwwroot/user_img
      - ./KeklandBankSystem/wwwroot/userImages:/wwwroot/userImages
      - ./KeklandBankSystem/wwwroot/userImagesAds:/wwwroot/userImagesAds
      - ./KeklandBankSystem/wwwroot/userImagesStatic:/wwwroot/userImagesStatic
      - ./KeklandBankSystem/wwwroot/userImagesTicket:/wwwroot/userImagesTicket

volumes:
  tml-classic-volume:
    external: true

networks:
  rival-politics-core-network:
    external: true
  rival-politics-core-database-network:
    external: true    
  tml-classic-network: